{% load static %}
<footer>
    <a class="feito">Feito por: Henrique Ribeiro</a>
    <div class="contato">
        
        
            <span>Contatos:</span>
            <a href="https://www.instagram.com/henriqueribeiro88/" target="_blank">Instagram  <i class="fa fa-instagram"></i></a>
            <a href="https://github.com/Henrique088/" target="_blank">Github <i class="fa fa-github"></i></a>
            <a>(31)99261-2529 <i class="fa fa-whatsapp"></i></a>
        
        

    </div>
</footer>
<script src="{% static '/src/script.js' %}"></script>