{% load static %}
<nav>
    <div class="navicon">
      <div></div>
    </div>
  
    <a class="a-lateral" href="{% url 'index' %}">Home</a>
    <a class="a-lateral" href="{% url 'terapia' %}">O que é a terapia?</a>
    <a class="a-lateral" href="{% url 'psicologia' %}">O que é a psicologia?</a>
    <a class="a-lateral" href="/templates/dino-google.html">O que é a radiestezia?</a>
    <a class="a-lateral" href="/templates/EBAC.html">Georgiane Ribeiro</a>
    <a class="a-lateral" href="/templates/sobre.html">Sobre</a>
  
  </nav>