{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!-- <link rel="stylesheet" href="style/reset.css"> -->
    <link rel="stylesheet" href="{% static '/style/styles.css' %}">
    <link rel="stylesheet" href="{% static '/style/menu-lateral.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
   
</head>
<body>
    {% include './partials/_menu.html' %}
    {% include './partials/_menu_lateral.html' %}
    {% block content %}{% endblock %}
    {% include './partials/_footer.html' %}

</body>
</html>