
{% extends 'agenda/base.html' %}
{% load static %}
{% block content %}

    <div class="container">
       
        <h1 style="text-align: center;">Calendário</h1>
        <div class="buscar">
            <p>Data: <input type="text" id="calendario"  placeholder="Escolha uma data" autocomplete="off"/></p>
        <button id="botao">Buscar</button>
        </div>
        
        
        <!-- Adicione controles para navegar entre os dias -->
        <div class="dia">
            <button id="prevDay">Dia Anterior</button>
            <span id="currentDay" style="padding: 10px;">Data Atual</span>
            <button id="nextDay">Próximo Dia</button>
        </div>

        <div class="indicativo">
            <ul>
                <li><a><span style="color: rgb(0, 255, 34);">Verde</span> - Disponivel para agendamento</a></li>
                <li><a><span style="color: #f00;">Vermelho</span> - Horario Agendado por outro</a></li>
                <li><a>Preto - Indisponivel</a></li>
                <li><a><span style="color: rgb(24, 68, 214);">Azul</span> - Agendado por você</a></li>
            </ul>
            <img src="{% static '/assests/img/arvore.png' %}" alt="flor" width="100" height="300">
        </div>
    
        <div id="expandedCalendar">
            <!-- O calendário expandido será exibido aqui -->
        </div>
    </div>
   
    
    

{% endblock %}