{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static  '/style/login.css' %}">
</head>
<body>
    <div class="container" >
        <a class="links" id="paracadastro"></a>
        <a class="links" id="paralogin"></a>
        
        <div class="content">      
          <!--FORMULÁRIO DE LOGIN-->
          <div id="login">
            <form method="post" action="{% url 'login' %}"> 
              <h1> Login</h1>
              {% csrf_token %}
              
              
             {{ login_form.as_p}}

             <p> 
              <input type="submit" value="login" name="login"/> 
            </p>
              <p class="link">
                Ainda não tem conta?
                <a href="#paracadastro">Cadastre-se</a>
              </p>
              </form>
          </div>
    
          <!-- FORMULÁRIO DE CADASTRO -->
          <div id="cadastro">
            <form method="post" action="{% url 'login' %}"> 
              <h1>Cadastro</h1> 
              
              {% csrf_token %}
              {{ cadastro_form.as_p}}
              
              <p> 
                <input type="submit" value="Cadastro" name="cadastro"/> 
              </p>
              
              <p class="link">  
                Já tem conta?
                <a href="#paralogin"> Ir para Login </a>
              </p>
            </form>
          </div>
        </div>
      </div>
    
</body>
</html>