<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>terapia</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!-- <link rel="stylesheet" href="style/reset.css"> -->
    <link rel="stylesheet" href="/style/styles.css">
    <link rel="stylesheet" href="/style/menu-lateral.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
   
</head>
<body>
    <header class="cabecalho">
        <div class="cab-img-name">
            <img src="/assests/img/terapia.png" class="img-header">
            <a> Georgiane Ribeiro </a>
        </div>
        
        <a href="/templates/login.html" class="login">Login</a>
    </header>
    <hr>
   
    <nav>
        <div class="navicon">
          <div></div>
        </div>
      
        <a class="a-lateral" href="/index.html">Home</a>
        <a class="a-lateral" href="terapia.html">O que é a terapia?</a>
        <a class="a-lateral" href="psciologia.html">O que é a psicologia?</a>
        <a class="a-lateral" href="dino-google.html">O que é a radiestezia?</a>
        <a class="a-lateral" href="EBAC.html">Georgiane Ribeiro</a>
        <a class="a-lateral" href="sobre.html">Sobre</a>
      
      </nav>
    <div class="border-conteudo">


    
        <div class="conteudo">
            <h1 style="text-align: center; font-style:italic;"> O que é a psciologia</h1>
            A psicologia é a ciência que estuda o comportamento e os processos mentais humanos. Ela busca compreender como as pessoas pensam, sentem, percebem e interagem com o mundo ao seu redor. Além disso, a psicologia procura analisar os fatores que influenciam o comportamento humano, como a genética, o ambiente, a cultura e a experiência individual.

            A história da psicologia remonta a séculos atrás, mas sua consolidação como uma disciplina científica ocorreu no final do século XIX. Antes desse período, as questões relacionadas à mente e ao comportamento eram muitas vezes abordadas pela filosofia. No entanto, com o avanço da ciência e a ascensão do método científico, os estudiosos começaram a buscar métodos mais rigorosos para investigar a mente humana.

            O marco inicial da psicologia como ciência moderna é frequentemente associado ao trabalho de Wilhelm Wundt, um psicólogo alemão que fundou o primeiro laboratório de psicologia experimental em Leipzig, Alemanha, em 1879. Wundt buscava analisar os elementos básicos da experiência consciente por meio de experimentos controlados, utilizando métodos objetivos e observáveis.

            Posteriormente, outros psicólogos, como William James nos Estados Unidos e Sigmund Freud na Áustria, desempenharam papéis fundamentais no desenvolvimento da psicologia. James, por exemplo, enfatizou a importância do estudo da função mental e da adaptação ao ambiente, enquanto Freud trouxe uma abordagem mais focada no inconsciente e na psicanálise.

            Ao longo do século XX, a psicologia evoluiu em diversas direções, dando origem a diversas abordagens teóricas e campos de estudo. A psicologia comportamental, cognitiva, humanista, psicologia social, entre outras, oferecem perspectivas distintas para entender a mente humana.

            Atualmente, a psicologia é uma disciplina multifacetada que abrange uma ampla gama de áreas de especialização, incluindo psicologia clínica, psicologia educacional, psicologia organizacional, neuropsicologia, entre outras. Seu impacto estende-se não apenas ao campo acadêmico, mas também à prática clínica, à educação, ao ambiente de trabalho e à sociedade como um todo. O constante avanço da pesquisa e das teorias na psicologia contribui para uma compreensão mais profunda do ser humano e para o desenvolvimento de intervenções que promovem o bem-estar e a saúde mental.
        </div>
    </div>
    
     
      <footer>
        <a class="feito">Feito por: Henrique Ribeiro</a>
        <div class="contato">
            <a>Contatos:</a>
            <a href="https://www.instagram.com/henriqueribeiro88/" target="_blank">Instagram  <i class="fa fa-instagram"></i></a>
            <a href="https://github.com/Henrique088/" target="_blank">Github <i class="fa fa-github"></i></a>
            <a>(31)99261-2529 <i class="fa fa-whatsapp"></i></a>

        </div>
    </footer>
</body>
</html>