{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>terapia</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!-- <link rel="stylesheet" href="style/reset.css"> -->
    <link rel="stylesheet" href="{% static '/style/styles.css' %}">
    <link rel="stylesheet" href="{% static '/style/menu-lateral.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
   
</head>
<body>
    <header class="cabecalho">
        <div class="cab-img-name">
            <img src="{% static '/assests/img/terapia.png' %}" class="img-header">
            <a> Georgiane Ribeiro </a>
        </div>
        
        <a href="/templates/login.html" class="login">Login</a>
    </header>
    <hr>
   
    <nav>
        <div class="navicon">
          <div></div>
        </div>
      
        <a class="a-lateral" href="{% url 'index' %}">Home</a>
        <a class="a-lateral" href="{% url 'terapia' %}">O que é a terapia?</a>
        <a class="a-lateral" href="{% url 'psicologia' %}">O que é a psicologia?</a>
        <a class="a-lateral" href="/templates/dino-google.html">O que é a radiestezia?</a>
        <a class="a-lateral" href="/templates/EBAC.html">Georgiane Ribeiro</a>
        <a class="a-lateral" href="/templates/sobre.html">Sobre</a>
      
      </nav>
    <div class="border-conteudo">


    
        <div class="conteudo">
            <h1 style="text-align: center; font-style:italic;"> O que é a terapia</h1>
            A terapia, muitas vezes referida como psicoterapia, é um campo prático que se baseia nos princípios e conhecimentos da psicologia para ajudar as pessoas a lidar com questões emocionais, comportamentais ou psicológicas. O objetivo primordial da terapia é promover o bem-estar mental e emocional, proporcionando aos indivíduos ferramentas e estratégias para enfrentar desafios, superar dificuldades e desenvolver uma compreensão mais profunda de si mesmos.

            A prática da terapia remonta a tempos antigos, quando curandeiros e conselheiros desempenhavam papéis importantes nas comunidades. No entanto, a formalização e sistematização da terapia ocorreram mais recentemente. No final do século XIX e início do século XX, figuras como Sigmund Freud desenvolveram abordagens inovadoras, como a psicanálise, que influenciaram significativamente a terapia psicológica.

            Desde então, várias abordagens terapêuticas foram desenvolvidas, refletindo diferentes teorias e paradigmas na psicologia. Algumas das abordagens mais proeminentes incluem a terapia cognitivo-comportamental (TCC), que se concentra em modificar padrões de pensamento e comportamento; a terapia psicodinâmica, que explora a influência do inconsciente e experiências passadas; a terapia humanista, que enfatiza o crescimento pessoal e a autorrealização; e a terapia de grupo, que envolve interações entre membros de um grupo.

            Os terapeutas, profissionais treinados em psicologia ou áreas relacionadas, aplicam essas abordagens de maneira adaptada às necessidades individuais de cada cliente. O processo terapêutico geralmente envolve a construção de um relacionamento de confiança entre o terapeuta e o cliente, o diagnóstico das questões apresentadas, a definição de metas terapêuticas e a implementação de intervenções específicas para alcançar essas metas.

            A terapia pode ser realizada em diversos contextos, como consultórios particulares, hospitais, clínicas, escolas e organizações. Além disso, as modalidades de terapia incluem terapia individual, terapia de casal, terapia familiar e terapia de grupo, adaptando-se às diferentes dinâmicas e necessidades dos clientes.

            Ao longo do tempo, a terapia evoluiu para incluir abordagens mais breves e focadas, como a terapia breve e a terapia centrada na solução. Além disso, o uso de abordagens baseadas em evidências tem se tornado mais comum, garantindo que as práticas terapêuticas sejam respaldadas por pesquisas científicas.

            A terapia desempenha um papel crucial na promoção da saúde mental e no tratamento de uma variedade de condições, incluindo transtornos de ansiedade, depressão, transtornos do espectro autista, entre outros. Ela proporciona um espaço seguro para a expressão de emoções, a reflexão sobre experiências e a busca de soluções construtivas para os desafios enfrentados pelos indivíduos.
        </div>
    </div>
    
     
      <footer>
        <a class="feito">Feito por: Henrique Ribeiro</a>
        <div class="contato">
            <a>Contatos:</a>
            <a href="https://www.instagram.com/henriqueribeiro88/" target="_blank">Instagram  <i class="fa fa-instagram"></i></a>
            <a href="https://github.com/Henrique088/" target="_blank">Github <i class="fa fa-github"></i></a>
            <a>(31)99261-2529 <i class="fa fa-whatsapp"></i></a>

        </div>
    </footer>
</body>
</html>